@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(45deg, #CABEFF, #B3A2FF);
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  box-shadow: initial;
  background: #FFF;
  padding: 20px 30px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container button {
  width: 100px;
  margin-left: 10px;
}

h1 {
  color: #2A2A2A;
}

input {
  height: 40px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1.5px solid #BEBDBD;
  padding-left: 5px;
  outline: none;
}

input:focus {
  border-bottom: 1.5px solid #B3A2FF;
  transition: 600ms linear;
}

button.continue {
  background: none;
  border: 0;
  position: relative;
  font-weight: bold;
  transition: all 500ms ease-in-out;
  color: #2A2A2A;
  
  margin-top: 20px;
  z-index: 2;
  cursor: pointer;           
}

button.continue:after {
  content: '';
  
  transition: inherit;
  
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #B3A2FF;
  
  position: absolute;
  top: -30%;
  left: -10px;
  
  opacity: 0.4;
  z-index: -1;
}

button.continue:hover:after {
  width: calc(100% + 20px);
  border-radius: 20px;
  opacity: 0.6;
}

a {
  margin: 20px auto;
  color: #7E7E7E;
  font-size: 0.7rem;
  text-decoration: none;
}

h4 {
  margin: auto;
  font-weight: 500;
  font-size: 0.8rem;
  color: #2A2A2A;
}

button.twitter {
  margin: 10px auto;
  width: 300px;
  text-align: left;
  height: 40px;
  background: linear-gradient(to right, #71A2CB , #4C80AB);
  border: 0;
  border-radius: 5px;
  padding-left: 20px;
  color: #FFF;
  transition: all 500ms ease-in-out;
}

button.twitter:hover {
  background: linear-gradient(to right, #4C80AB, #71A2CB);
  cursor: pointer;
}

button.facebook {
  margin: auto;
  width: 300px;
  text-align: left;
  height: 40px;
  background: linear-gradient(to right, #022746 , #00325C);
  border: 0;
  border-radius: 5px;
  padding-left: 23px;
  color: #FFF;
}

button.facebook:hover {
  background: linear-gradient(to right, #00325C, #022746);
  cursor: pointer;
}

i {
  padding-right: 15px;
  color: #FFF;
}